html { height: 100%; overflow:auto; }

body {
    /* background: url('village2kw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 0; */
}

.village-image {
    width: 1400px;
    height: 900px;

}


@keyframes pulse {
	0% {
		transform: scale(0.95);
        border: dashed 3px #a83240;
        border-radius: 3px;
	}

	70% {
		transform: scale(1);
        border: dashed 3px #a83240;
        border-radius: 3px;
	}

	100% {
		transform: scale(0.95);
        border: dashed 3px #a83240;
        border-radius: 3px;
	}
}

img{
    width: 100%;
}


.box {
    position: absolute;
}

.outline {
    border: dashed 2px #a83240;
}

.pulsing {
    animation: pulse 2s infinite;
}

.star {
    position: absolute;
    width: 60px;
    height: 60px;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
 }