html { height: 100%; overflow:auto; }

body {
    /* background: url('village2kw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 0; */
}

.village-image {
    width: 1400px;
    height: 900px;

}


@keyframes pulse {
	0% {
		transform: scale(0.95);
        border: dashed 3px #a83240;
        border-radius: 3px;
	}

	70% {
		transform: scale(1);
        border: dashed 3px #a83240;
        border-radius: 3px;
	}

	100% {
		transform: scale(0.95);
        border: dashed 3px #a83240;
        border-radius: 3px;
	}
}

img{
    width: 100%;
}


.box {
    position: absolute;
}

.outline {
    border: dashed 2px #a83240;
}

.pulsing {
    animation: pulse 2s infinite;
}

.star {
    position: absolute;
    width: 60px;
    height: 60px;
}